Repository T0ine34/ortelo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: html-tests, server-tests, client-tests

html-tests:
  stage: component-test
  image: python:3.11-alpine3.18
  before_script:
  - python -m pip install --upgrade pip
  - python -m pip install requests
  - python -m pip install unidecode
  script:
  - python test/html-tests.py public

server-tests:
  stage: component-test
  before_script:
  - apk add --no-cache make
  - npm install
  script:
  - make server-test

client-tests:
  stage: component-test
  before_script:
  - apk add --no-cache make
  - npm install
  script:
  - make client-test

Changes login with idp logic
  public/common/identityprovider_login/idp_redirect.js
  public/common/login/main.js
  public/common/microsoft_redirect/microsoft.js
  public/common/microsoft_redirect/microsoftRedirect.html
Due: html-tests, client-tests

Refractors functions to use email instead of playername, adds idpList
  server.js
  server_modules/database/main.js
Due: server-tests

Changes redirect uri for microsoft depending on host being local or vps
  server.js
Due: none

Removes useless packages from package.json
  package.json
Due: none

Changes redirect URI in connection.js for Microsoft
  public/common/connection.js
  server.js
Due: client-tests

Dumb typo on variable name
  public/common/connection.js
Due: client-tests

Fixes getIdP List not returning empty string if not found
  public/common/microsoft_redirect/microsoft.js
  server_modules/database/main.js
Due: server-tests, client-tests

Fixes login using name instead of email
  public/common/login/main.js
  server_modules/database/main.js
Due: server-tests, client-tests

optimised morpion html
  game/morpion/index.html
  game/morpion/main.js
  game/morpion/style.css
Due: none

reediting waiting popup + removing useless code
  public/common/assets/images/clipboard.svg
  public/common/assets/images/eye-slash.svg
  public/common/assets/images/eye.svg
  public/common/assets/images/share.svg
  public/common/client.js
  public/desktop/index.html
  public/desktop/stylesheets/style.css
Due: html-tests, client-tests

fixing html validation
  public/common/client.js
  public/desktop/index.html
  public/desktop/stylesheets/style.css
Due: html-tests, client-tests

adding a file-by-file html validation script
  building/test-html.py
  check_html.bat
  makefile
Due: none

Changed mobile style to match with desktop. Added mobile buttons to login with google or microsoft
  public/common/connection.js
  public/desktop/connection.html
  public/mobile/connection.html
  public/mobile/stylesheets/login.css
Due: html-tests, client-tests

Changes mobile style to fix popup and game display
  public/mobile/index.html
  public/mobile/stylesheets/style.css
Due: html-tests, client-tests

moving progressBar class in a dedicated file
  building/game-assemble.py
  building/progressBar.py
Due: none

adding a script for building the doc
  building/doc.py
  building/progressBar.py
  building/threadManager.py
  package.json
Due: none

minor changes relative to the new documentation
  .gitignore
  jsdoc.config
  makefile
Due: none

fixing database documentation
  server_modules/database/main.js
Due: server-tests

doc script is now using multiprocessing instead of threads
  building/doc.py
  building/progressBar.py
  building/threadManager.py
Due: none

updating makefile help
  makefile
Due: none

updating UML diagrams and documentation of url_generator module
  server_modules/url_generator/main.js
  useful_docs/classes.drawio
  useful_docs/database.drawio
Due: server-tests

changing getelementid by queryselector
  public/common/connection.js
Due: client-tests

adding ( cross site + xss + webtoken ) security after issue in the last merge + fix obufscating
  building/game-assemble.py
  launcher.js
  obfusc.js
  package.deploy.json
  package.json
  public/common/client.js
  public/common/connection.js
  public/common/login/main.js
  server.js
Due: client-tests

forgot obfusc in py assembling
  building/game-assemble.py
Due: none

import
  building/game-assemble.py
Due: none

put obfusc in steps
  launcher.js
  obfusc.js
Due: none

fix steps
  launcher.js
Due: none

process in steps
  launcher.js
Due: none

node for process
  launcher.js
Due: none

fix issue running process node
  launcher.js
Due: none

debug obfusc
  launcher.js
  obfusc.js
Due: none

fix process stdout
  obfusc.js
Due: none

nodemon error during obfuscating
  Dockerfile
  launcher.js
Due: none

fixing style and readme
  README.md
  public/desktop/stylesheets/style.css
  public/mobile/stylesheets/style.css
Due: client-tests

removing unused css rules
  public/mobile/stylesheets/style.css
Due: client-tests

fixing buttons not being clickables
  public/desktop/stylesheets/style.css
Due: client-tests

Fixing obfuscation moment of client js files
  Dockerfile
  building/game-assemble.py
  launcher.js
  obfusc.js
  package.deploy.json
  package.json
  public/common/client.js
  public/common/connection.js
  public/common/login/main.js
  server.js
Due: client-tests

Updating readme and style
  README.md
  public/desktop/stylesheets/style.css
  public/mobile/stylesheets/style.css
Due: client-tests

fixing various bugs updated end-to-end tests updated makefile to add a new target for the end-to-end tests
  makefile
  public/common/login/main.js
  server.js
  server_modules/database/main.js
  test/end-to-end.py
  test/end-to-end/interface.py
  test/end-to-end/test-connexion.py
  test/end-to-end/test-morpion-1.py
  test/end-to-end/test-reversi-1.py
Due: server-tests, client-tests

Added contributors to README
  README.md
Due: none

Path conditions:
  html-tests: any of: public/**/*.html, .gitlab-ci.yml
  server-tests: any of: server_modules/**/*, test/server/**/*, test/server.js
  client-tests: any of: public/**/*, test/client/**/*, test/client.js
