Repository T0ine34/ortelo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: html-tests, server-tests, client-tests

Path conditions:
  html-tests: any of: public/**/*.html, .gitlab-ci.yml
  server-tests: any of: server_modules/**/*, test/server/**/*, test/server.js
  client-tests: any of: public/**/*, test/client/**/*, test/client.js

y
  .gitlab-ci.yml
  Dockerfile
  building/game-assemble.py
  obfusc.js
Due: html-tests

y
  obfusc.js
Due: none

fix obfusc porté variable
  obfusc.js
Due: none

adding in data base table if user is confirmed and change a function about connection
  database/createTables.sql
  public/common/login.js
Due: client-tests

adding column identifier to table player
  database/updates/1.1.0.sql
Due: none

Adds oidc-client package and default parameters in login.js
  package.json
  public/common/login.js
  public/desktop/connection.html
  server.js
Due: html-tests, client-tests

adding database patch 1.1.0
  building/database.py
  database/updates/1.1.0.sql
Due: none

adding support for semantic versioning 2.0.0 for database updates
  building/database.py
Due: none

using launcher.js in the start command
  package.deploy.json
  package.json
Due: none

fixing a out-of-range error in database updater
  building/database.py
Due: none

obfusc outside docker image
  Dockerfile
  building/game-assemble.py
  obfusc.js
Due: none

forgot c for call
  building/game-assemble.py
Due: none

adding dependencies for obfusc.js before making games
  .gitlab-ci.yml
Due: html-tests

fix
  .gitlab-ci.yml
Due: html-tests

Adds working logging in with identity provider
  public/common/login.js
  public/desktop/connection.html
  public/desktop/oidcredirect.html
Due: html-tests, client-tests

node js version not enough
  .gitlab-ci.yml
Due: html-tests

changing the cookie content to a unique identifier for players
  public/common/assets/ressources/events.json
  public/common/client.js
  public/common/login.js
  server.js
  server_modules/database/main.js
  test/end-to-end/interface.py
Due: server-tests, client-tests

create function to replace glob which is not compatible with our node version on alpine
  obfusc.js
Due: none

adding the random identifier at regiestering
  server_modules/database/main.js
Due: server-tests

removing glob from project
  obfusc.js
  package.deploy.json
  package.json
Due: none

upgrade alpine after updating & fix searching js files ( taking also js.map from bootstrap )
  .gitlab-ci.yml
  obfusc.js
Due: html-tests

fixing cookie name when disconnecting
  public/common/client.js
Due: client-tests

try some fixes
  obfusc.js
Due: none

Fully fonctionnal login, adds column to database
  database/updates/1.1.1.sql
  public/common/identityprovider_login/idp_redirect.js
  public/common/identityprovider_login/oidcredirect.html
  public/common/login.js
  public/desktop/connection.html
Due: html-tests, client-tests

adding end to end tests for connection
  building/database.py
  test/end-to-end/database.py
  test/end-to-end/test-connexion.py
Due: none

removing forgetted debug element
  public/common/client.js
Due: client-tests

adding end-to-end tests for the reversi game
  test/end-to-end/interface.py
  test/end-to-end/test-reversi-1.py
Due: none

Adds register logic for IdP user, adds isConfirmedPlayer function
  server_modules/database/main.js
Due: server-tests

Finished setting up Google IdP use for login and signup
  public/common/identityprovider_login/idp_redirect.js
  public/common/identityprovider_login/oidcredirect.html
  public/common/login.js
  public/common/login/main.js
  server.js
  server_modules/database/main.js
Due: html-tests, server-tests, client-tests

Fixes issue on registerPlayer calling
  database/updates/1.1.1.sql
  public/common/login.js
  server_modules/database/main.js
Due: server-tests, client-tests

Fixes google signup
  public/common/identityprovider_login/idp_redirect.js
  public/common/identityprovider_login/oidcredirect.html
  public/common/login.js
  server.js
  server_modules/database/main.js
Due: html-tests, server-tests, client-tests

Fixes oidcredirect html to be validated by w3c validator
  public/common/identityprovider_login/oidcredirect.html
Due: html-tests, client-tests

Changes login.js name to connexion.js for less confusion
  public/common/connexion.js
  public/desktop/connection.html
Due: html-tests, client-tests

adding random moves to tests of morpion
  test/end-to-end/interface.py
Due: none
