Repository T0ine34/ortelo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: html-tests, server-tests, client-tests

html-tests:
  stage: component-test
  image: python:3.11-alpine3.18
  before_script:
  - python -m pip install --upgrade pip
  - python -m pip install requests
  - python -m pip install unidecode
  script:
  - python test/html-tests.py public

server-tests:
  stage: component-test
  before_script:
  - apk add --no-cache make
  - npm install
  script:
  - make server-test

client-tests:
  stage: component-test
  before_script:
  - apk add --no-cache make
  - npm install
  script:
  - make client-test

Finalisation of Google login button
  public/common/assets/images/google_logo.svg
  public/common/connexion.js
  public/common/identityprovider_login/idp_redirect.js
  public/common/login/main.js
  public/desktop/connection.html
  server.js
  server_modules/database/main.js
Due: html-tests, server-tests, client-tests

Adds button to register form and fixes getElementById to queryselector
  public/common/connexion.js
  public/desktop/connection.html
Due: html-tests, client-tests

Fixes connection.html to pass w3c checker
  public/desktop/connection.html
Due: html-tests, client-tests

Adds privacy policy file to pass google's verification
  public/common/privacy-policy.html
Due: html-tests, client-tests

Adds terms of service
  public/common/privacy-policy.html
  public/common/terms-of-service.html
Due: html-tests, client-tests

fixes connection.js name and english console logs
  public/common/connection.js
  public/common/identityprovider_login/idp_redirect.js
Due: client-tests

Update connection.html to use the right javascript filename
  public/desktop/connection.html
Due: html-tests, client-tests

fix copy file in temp dir to obfusc them
  building/game-assemble.py
  obfusc.js
Due: none

fix tmp path for linux system
  building/game-assemble.py
Due: none

error loop start 0 and index id 1 so not matching, and some var missed
  game/morpion/main.js
Due: none

commentary to help readability
  building/game-assemble.py
  obfusc.js
Due: none

Fixes missing items
  public/common/connexion.js
  server.js
Due: client-tests

Revert "Merge branch 'test-obfuscation-games' into 'main'"
  .gitlab-ci.yml
  Dockerfile
  building/game-assemble.py
  game/morpion/main.js
  obfusc.js
  package.deploy.json
  package.json
Due: html-tests

fix erreur obfuscating code in assembling local games + XSS + sql injection + logs on web client interface while creating account + cross site attack + filter to avoid bad inputs
  building/game-assemble.py
  launcher.js
  obfusc.js
  package.deploy.json
  package.json
  public/common/client.js
  public/common/login.js
  public/desktop/connection.html
  server.js
  server_modules/database/main.js
Due: html-tests, server-tests, client-tests

Adds oidc client package to package.deploy.json
  package.deploy.json
Due: none

Fixed google connection
  public/common/identityprovider_login/idp_redirect.js
  server.js
  server_modules/database/main.js
Due: server-tests, client-tests

Replaced localhost:3000 by /
  public/common/identityprovider_login/idp_redirect.js
  public/desktop/connection.html
Due: html-tests, client-tests

Replaced forgot localhost:3000 by /
  public/common/connection.js
Due: client-tests

Password Quality Check
  public/common/login.js
  public/common/profile.js
  public/desktop/connection.html
  public/desktop/stylesheets/style.css
Due: html-tests, client-tests

adding OrteloDEPLOY env variable to Dockerfile
  Dockerfile
Due: none

fix merge and login error with player id instead of username
  public/common/client.js
  public/common/connection.js
  server_modules/database/main.js
Due: server-tests, client-tests

use of environnement var to obfusc
  launcher.js
Due: none

set var env
  Dockerfile
Due: none

add table for lost password in data base
  database/createTables.sql
Due: none

Fixes login/register requests + Adds redirectUri api request
  server.js
Due: none

Fixes google connection to get redirectUri depending on the platform and Fixes basic login
  public/common/connection.js
  public/common/identityprovider_login/idp_redirect.js
  public/common/login/main.js
  public/desktop/connection.html
Due: html-tests, client-tests

Removes paragraph inside span
  public/desktop/connection.html
Due: html-tests, client-tests

fix connection loading script not correctly
  package.json
  public/common/connection.js
  public/desktop/connection.html
Due: html-tests, client-tests

fix issue while not sending json error
  server.js
  server_modules/database/main.js
Due: server-tests

Fixed playerid generation
  server_modules/database/main.js
Due: server-tests

Fixed register
  public/common/connection.js
  public/common/login/main.js
Due: client-tests

Remade login form CSS
  public/desktop/connection.html
  public/desktop/stylesheets/login.css
Due: html-tests, client-tests

Remade HTML and CSS for all forms
  public/common/connection.js
  public/desktop/connection.html
  public/desktop/stylesheets/login.css
Due: html-tests, client-tests

Added background transition for google button
  public/desktop/stylesheets/login.css
Due: client-tests

Adds microsoft login. Missing access token
  package.json
  public/common/assets/images/microsoft_logo.svg
  public/common/connection.js
  public/common/microsoft_redirect/microsoftRedirect.html
  public/desktop/connection.html
  public/desktop/stylesheets/login.css
  server.js
Due: html-tests, client-tests

fixing game builder script not rading images correctly
  building/game-assemble.py
Due: none

revised reversi stylesheet
  game/reversi/index.html
  game/reversi/style.css
Due: none

added new "colored-elements" css color variable
  public/desktop/stylesheets/style.css
Due: client-tests

removed unused css properties
  game/reversi/style.css
Due: none

Can now retrieve user's information from Microsoft
  database/updates/1.1.2.sql
  public/common/connection.js
  public/common/microsoft_redirect/microsoft.js
  public/common/microsoft_redirect/microsoftRedirect.html
  server.js
Due: html-tests, client-tests

Path conditions:
  html-tests: any of: public/**/*.html, .gitlab-ci.yml
  server-tests: any of: server_modules/**/*, test/server/**/*, test/server.js
  client-tests: any of: public/**/*, test/client/**/*, test/client.js
