Repository T0ine34/ortelo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: html-tests, server-tests, client-tests

html-tests:
  stage: component-test
  image: python:3.11-alpine3.18
  before_script:
  - echo "Setting up html tests"
  - python -m pip install --upgrade pip
  - python -m pip install requests
  - python -m pip install unidecode
  script:
  - echo "Running html tests"
  - python test/html-tests.py public

server-tests:
  stage: component-test
  before_script:
  - echo "Setting up server tests"
  - apk add --no-cache make
  - npm install
  script:
  - echo "Running server tests"
  - make server-test

client-tests:
  stage: component-test
  before_script:
  - echo "Setting up client tests"
  - apk add --no-cache make
  - npm install
  script:
  - echo "Running client tests"
  - make client-test

using bac à sable instead of eval for running server games
  game/morpion/server.js
  public/common/games/morpion.game
  server.js
Due: html-tests

reversi edit for working with bac a sable
  game/reversi/server.js
  public/common/games/reversi.game
Due: html-tests

Adds home button in index
  public/desktop/index.html
Due: html-tests

Trying https deploy
  public/desktop/index.html
Due: html-tests

adding condition on tests
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

Removes doGameUrlExists callback to return promise
  public/desktop/index.html
  server_modules/database/main.js
Due: html-tests

addign CHAT.SERVER_MESSAGE event
  public/common/assets/ressources/events.json
  public/common/client.js
  server.js
  useful_docs/events.drawio
Due: html-tests

check url is unique before creating game
  server.js
Due: none

Removes useless comments
  server_modules/database/main.js
Due: none

document.get id/classname --> document.querySelector
  game/morpion/main.js
  game/reversi/main.js
  public/common/client.js
  public/common/games/morpion.game
  public/common/games/reversi.game
  public/common/login.js
  public/common/profile.js
Due: html-tests

adding templates to
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

adding server.js to modules diagram
  useful_docs/modules.drawio
Due: none

adding ROOM events
  public/common/assets/ressources/events.json
  server.js
  server_modules/events/main.js
  useful_docs/events.drawio
Due: html-tests

fixing comment in .gitlab-ci.yml
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

adding temporary test.html file (will be deleted later)
  public/desktop/test.html
Due: html-tests

updating test.html to be conform to w3c standards
  public/desktop/test.html
Due: html-tests

deleting test.html
  public/desktop/test.html
Due: html-tests

Adds emailjs sender example
  package.json
  public/common/login.js
  public/desktop/connection.html
  server.js
  server_modules/database/main.js
Due: html-tests

merging csocket class with user class
  server.deploy.config
  server.js
  server_modules/cmd/main.js
  server_modules/events/main.js
  server_modules/user/main.js
Due: none

removing user module; removing /game folder from docker image
  Dockerfile
  server_modules/user/main.js
Due: none

adding settings "games_dir" to serv
  server.config
  server_modules/loader/main.js
Due: none

fixing merge issue
  public/common/assets/ressources/events.json
  server.js
  server_modules/events/main.js
Due: html-tests

adding a script to assemble games from sources
  game-assemble.py
  public/common/games/morpion.game
  public/common/games/reversi.game
Due: html-tests

adding the possibility to build only one game
  game-assemble.py
Due: none

automating game build on image build
  .gitlab-ci.yml
  makefile
  public/common/games/morpion.game
  public/common/games/reversi.game
Due: html-tests, server-tests, client-tests

fixing gitlab ci build error
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

fixing directory not exist in image build
  game-assemble.py
Due: none

fixing accessdenied error in build
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

fixing missing settings error
  server.deploy.config
Due: none

removing user module from diagrams
  useful_docs/classes.drawio
  useful_docs/modules.drawio
Due: none

adding .game to .gitignore
  .gitignore
Due: none

Adds BombParty game development
  game/bombparty/images/icon.png
  game/bombparty/index.html
  game/bombparty/index.json
  game/bombparty/main.js
  game/bombparty/server.js
  game/bombparty/style.css
Due: none

moving building scripts into a separate folder
  building/config.py
  building/game-assemble.py
  makefile
Due: none

Changes genUrl method, adds email confirmation when registering a new account
  database/createTables.sql
  public/common/login.js
  server.js
  server_modules/database/main.js
  server_modules/url_generator/main.js
  test/server/test_gameRooms.js
  useful_docs/classes.drawio
  useful_docs/modules.drawio
Due: html-tests

adds pdf/docx files to gitignoreé
  .gitignore
Due: none

Moves email url to another database table
  database/createTables.sql
  server_modules/database/main.js
Due: none

fixing games building command
  .gitignore
  building/config.py
  building/game-assemble.py
Due: none

Removes useless email_confirmed column in player table and fixes connection.html
  database/createTables.sql
  public/desktop/connection.html
  server_modules/database/main.js
Due: html-tests

renames module gamerooms to gen url in test
  test/server/test_gen_url.js
Due: none

adding comments support in .config files
  package.json
  server_modules/json_checker/main.js
  server_modules/settings/main.js
Due: none

Path conditions:
  html-tests: any of: public/**/*, .gitlab-ci.yml
  server-tests: any of: server/**/*, .gitlab-ci.yml
  client-tests: any of: client/**/*, .gitlab-ci.yml
