Repository T0ine34/ortelo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: html-tests, server-tests, client-tests

html-tests:
  stage: component-test
  image: python:3.11-alpine3.18
  before_script:
  - echo "Setting up html tests"
  - python -m pip install --upgrade pip
  - python -m pip install requests
  - python -m pip install unidecode
  script:
  - echo "Running html tests"
  - python test/html-tests.py public

server-tests:
  stage: component-test
  before_script:
  - echo "Setting up server tests"
  - apk add --no-cache make
  - npm install
  script:
  - echo "Running server tests"
  - make server-test

client-tests:
  stage: component-test
  before_script:
  - echo "Setting up client tests"
  - apk add --no-cache make
  - npm install
  script:
  - echo "Running client tests"
  - make client-test

adding condition in game creation rules
  makefile
Due: none

adding a database creation & update script
  .gitignore
  building/config.py
  building/database.py
  server.config
  server.deploy.config
Due: none

adding missing package json5
  package.deploy.json
Due: none

updating tests condition for gitlab ci
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

adding missing python module in gitlab ci
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

adding missing package for mail
  package.deploy.json
Due: none

removing unused constaint in table player
  database/createTables.sql
Due: none

Puts back redirection method call
  public/common/login.js
  server.js
Due: html-tests

add security to avoid brute force
  package.json
  public/common/login.js
  server.js
Due: html-tests

error management for games and API input validation
  game/morpion/main.js
  game/morpion/server.js
  game/reversi/main.js
  game/reversi/server.js
  server.js
Due: none

fixing missing dependencies in package.deploy.json
  package.deploy.json
Due: none

game creation rule is now generic for every games
  makefile
Due: none

adding a script for deleting compiled games
  building/game-clear.py
  makefile
Due: none

fixing folder not found error
  building/game-clear.py
Due: none

Fixes missing emailjs on mobile
  public/mobile/connection.html
Due: html-tests

fixing logs date & hour format on 1 digit
  server_modules/logs/main.js
Due: none

adding automated installation script for missing pip modules
  building/config.py
  building/database.py
  building/install.py
  makefile
Due: none

updating EVENTS usage
  public/common/assets/ressources/events.json
  public/common/client.js
  server.js
  server_modules/events/main.js
Due: html-tests

fixing games being never loaded
  public/common/client.js
Due: html-tests

fixing game url generation
  public/common/client.js
  public/common/modules/events/main.js
  server_modules/events/main.js
Due: html-tests

adding autocomplete in html forms
  public/desktop/connection.html
Due: html-tests

adding id to GameItem in gamesContainer
  public/common/client.js
Due: html-tests

adding autoBuilder for game and config for nodemon
  building/auto_build.py
  package.json
Due: none

Revert "updating EVENTS usage"
  public/common/assets/ressources/events.json
  public/common/client.js
  server.js
  server_modules/events/main.js
Due: html-tests

adding specific Id to buttons
  public/common/client.js
  public/desktop/index.html
  public/desktop/profile.html
  public/mobile/index.html
Due: html-tests

adding end-to-end base for tests & morpion tests
  test/client.js
  test/client.py
  test/client/install.py
  test/client/interface.py
  test/client/test-morpion-1.py
Due: none

adding roomname in events in namespace ROOM
  public/common/assets/ressources/events.json
  server_modules/events/main.js
Due: html-tests

renaming folder test/client to test/end-to-end
  makefile
  test/client.js
  test/client.py
  test/end-to-end.py
  test/end-to-end/install.py
  test/end-to-end/interface.py
  test/end-to-end/test-morpion-1.py
Due: none

adding selenium to readme.md
  README.md
Due: none

schema interactions between clients and server while starting a game
  useful_docs/client-server-game.drawio
Due: none

making more readable morpion code
  game/morpion/index.html
  game/morpion/main.js
  game/morpion/style.css
Due: none

obfuscate client js scripts at creation the of the docker image
  Dockerfile
  obfusc.js
Due: none

doc + increase code quality
  game/morpion/main.js
  game/morpion/server.js
  game/reversi/main.js
  game/reversi/server.js
  obfusc.js
  server.js
  server_modules/redirection/gameRedirect.js
Due: none

forget some variable names
  Dockerfile
  game/morpion/index.html
  game/morpion/main.js
  game/morpion/style.css
Due: none

add dependencies
  package.deploy.json
  package.json
Due: none

copy obfusc js to docker file
  Dockerfile
Due: none

fix import
  obfusc.js
Due: none

building docker image on every branch
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

building docker image on every branches
  .gitlab-ci.yml
Due: html-tests, server-tests, client-tests

updating dababase update updater
  building/database.py
Due: none

Path conditions:
  html-tests: any of: public/**/*, .gitlab-ci.yml
  server-tests: any of: server/**/*, .gitlab-ci.yml
  client-tests: any of: client/**/*, .gitlab-ci.yml
